<div class="top-big-header-new sub-pages-head">
<div class="container">
<div class="top-bar-new row">
	<div class="col-lg-4 col-md-4 col-sm-2 mob-fix">
		<a class="logo-links" href="#/innovative-landing"><img src="images/Accenture_logo.png"></a>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-8 txt-right">
		<ul class="idea-menus-new">
			<li><a href="#/myinnovative-addIdeas"><img src="images/icon_Add_Ideas.png">&nbsp;&nbsp;&nbsp;<b>Add Ideas</b></a></li>
			<li><a href="#/myinnovative-myIdeas"><img src="images/icon_Myideas.png">&nbsp;&nbsp;&nbsp;<b>My Ideas</b></a></li>
			<li><a href="javascript: void(0)"><img src="images/icon_manage.png">&nbsp;&nbsp;&nbsp;<b>Manage</b></a></li>
			<li><a href="javascript: void(0)"><img src="images/icon_Explore_ideas.png">&nbsp;&nbsp;&nbsp;<b>Explore Ideas</b></a></li>
			<li><a href="javascript: void(0)"><img src="images/icon_Platform_Ecosystem.png">&nbsp;&nbsp;&nbsp;<b>Platform Ecosystem</b></a></li>
			<li>
				<span><a href="javascript: void(0);" style="text-decoration: none;">
				<img style="border-radius: 50%;" src="images/user.png" width="27" height="27" border="0">
				</a></span>
			</li>
		</ul>
	</div>
</div>
</div>
</div>
<div class="container sub-containers my-ideas create-ideas">
<p class="hd1">My Ideas</p>
<ul class="menus">
	<!-- li><a href="#/myinnovative-judge" class="tablinks" id="defaultOpen">JUDGE</a></li>
	<li><a href="javascript:void(0)" class="tablinks"">SPONSOR</a></li>
	<li><a href="javascript:void(0)" class="tablinks">MENTOR</a></li>
	<li><a href="javascript:void(0)" class="tablinks">CONTRIBUTOR</a></li-->
	<li><a href="javascript:void(0)" class="tablinks active" href="#/myinnovative-innovcontest">INNOVATION CONTEST</a>
				<div class="arrow-right"></div></li>
	<li><a class="tablinks"  href="#/myinnovative-myIdeas">INNOVATION CHALLENGE</a>
	</li>
</ul>
<ul class="menu tab">
	<li><a href="javascript:void(0)" class="tablinks active" id="defaultOpen">Add New Contest</a></li>
	<li><a href="#/myinnovative-activeContest" class="tablinks">Active Contest</a></li>
	<li><a href="javascript:void(0)" class="tablinks">Closed Contest</a></li>
	<li style="float: right;width: 30%;margin-top: 6px;">
	<span><a class="act-btn">Save as Draft</a></span>
	<span><a class="dea-btn">Publish Contest</a></span>
	</li>
</ul>
<div class="middle-added">
	<div class="top-row1" style="margin-top: 0; border-bottom: 0;">
	<div class="inner-left">
		<p class="above-txt">*Contest Name</p>
		<div>
			<input type="text" placeholder="">
			<p class="below-txt"><span>&nbsp;</span> <t class="under-txt">50 characters remaining(50 maximum)</t></p>
		</div>
		<p class="above-txt">
		<span>*Start Date</span><span>*End Date</span><span>*Close Date</span>
		</p>
		<div>
			<p class="date-icons"><span><input type="text" placeholder="DD/MM/YYYY">
			</span><span><a><img src="images/Calender.png"></a></span><span><input type="text" placeholder="DD/MM/YYYY"></span><span><a><img src="images/Calender.png"></a></span><span><input type="text" placeholder="DD/MM/YYYY"></span><span><a><img src="images/Calender.png"></a></span></p>
			<p class="below-txt"><span>&nbsp;</span> <t class="under-txt">&nbsp;</t></p>
		</div>
		<p class="above-txt">Add Image</p>
		<p class="brder-line">Contest image1.jpeg (994kb) <a href="" class="close"><img src="images/close.png"></a></p>
		<br />
		<div class="row" style="margin-bottom: 20px;width: 100%;">
			<div class="col-lg-4 col-sm-4 col-xs-4">
				<a href="" class="browse-file">Browse Files</a>
			</div>
			<div class="col-lg-4 col-sm-4 col-xs-4">
				<a href="" class="browse-file">Start Upload</a>
			</div>
			<div class="col-lg-4 col-sm-4 col-xs-4">
				<a href="" class="browse-file cancel-file">Cancel Upload</a>
			</div>
		</div>
		<p class="sharp-short">(Restrictions: File Size: 10MB, File Formats: png, jpg, jpeg)</p>
		<p class="above-txt"><label class="bfr">Contest URL</label></p>
		<div>
			<input type="text" placeholder="Contest home page URL">
			<p class="below-txt"><span>&nbsp;</span> <t class="under-txt">50 characters remaining(50 maximum)</t></p>
		</div>
		<p class="above-txt"><label class="bfr">*Add Challenge Name</label></p>
		<div class="tx" style="clear: both;">
			<span>
				<select>
					<option value="Select Challenge">Select Challenge</option>
				</select>
			</span>
			<span style="text-align: center;margin: 0 auto;">OR</span>
			<span>
					<a class="dea-btn">Add New Challenge</a>
			</span>
		</div>
		<p>Challenge Name <img src="images/icon_form_close.png" class="cls-btns flt-rg-p"></p>
	</div>
	<div class="inner-right">
		<p class="above-txt">*Applicable Entities</p>
		<div>
			<div class="tree-box">
			<ul class="tree">
  <li>
    <input type="checkbox" checked="checked" id="c1" />
    <label class="tree_label" for="c1">Accenture Technology</label>
    <ul>
      <li>
        <input type="checkbox" id="c2" />
        <label for="c2" class="tree_label">AMD</label>
        <ul>
          <li><span class="tree_label">Level 2</span></li>
          <li><span class="tree_label">Level 2</span></li>
        </ul>
      </li>
      <li>
        <input type="checkbox" id="c3" />
        <label for="c3" class="tree_label">ASW</label>
        <ul>
          <li><span class="tree_label">Level 2</span></li>
          <li>
            <input type="checkbox" id="c4" />
            <label for="c4" class="tree_label">Item3</label>
            <ul>
              <li><span class="tree_label">Level 3</span></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <input type="checkbox" id="c5" />
        <label for="c5" class="tree_label">AVANADE</label>
        <ul>
          <li><span class="tree_label">Level 2</span></li>
          <li>
            <input type="checkbox" id="c6" />
            <label for="c6" class="tree_label">Item4</label>
            <ul>
              <li><span class="tree_label">Level 3</span></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
</div>
			<p class="below-txt"><span>&nbsp;</span> <t class="under-txt">&nbsp;</t></p>
		</div>
		<p class="above-txt">*Description</p>
		<div>
			<textarea></textarea>
			<p class="below-txt"><span>&nbsp;</span> <t class="under-txt">2000 characters remaining(2000 maximum)</t></p>
		</div>
	</div>
	</div>
</div>
<div class="btm-btns"><span><a class="act-btn">Save as Draft</a></span><span><a class="dea-btn">Publish Contest</a></span></div>
</div>
