<div class="top-big-header-new sub-pages-head">
<div class="container">
<div class="top-bar-new row">
	<div class="col-lg-4 col-md-4 col-sm-2 mob-fix">
		<a class="logo-links" href="#/innovative-landing"><img src="images/Accenture_logo.png"></a>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-8 txt-right">
		<ul class="idea-menus-new">
			<li><a href="#/myinnovative-addIdeas"><img src="images/icon_Add_Ideas.png">&nbsp;&nbsp;&nbsp;<b>Add Ideas</b></a></li>
			<li><a href="#/myinnovative-myIdeas"><img src="images/icon_Myideas.png">&nbsp;&nbsp;&nbsp;<b>My Ideas</b></a></li>
			<li><a href="#/innovative-implementations"><img src="images/icon_Explore_ideas.png">&nbsp;&nbsp;&nbsp;<b>Explore Ideas</b></a></li>
			<li><a href="#/innovative-implementations"><img src="images/icon_Platform_Ecosystem.png">&nbsp;&nbsp;&nbsp;<b>Platform Ecosystem</b></a></li>
			<li>
				<span><a href="#/innovative-profile" style="text-decoration: none;">
				<img style="border-radius: 50%;" src="images/user.png" width="27" height="27" border="0">
				</a></span>
			</li>
		</ul>
	</div>
</div>
</div>
</div>
<div class="container">
<div class="row top-added" style="border-bottom:none;margin-left:25px;margin-top:20px;">
	<div class="col-lg-6 col-md-6"><p class="hd1">My Ideas</p></div>
</div>

<div class="float-menu">
	<div class="left-arr-menu"><</div>
	<ul class="sub-men">
		<li><a href class="short-bar">&nbsp;</a></li>
		<li><a href class="short-bar">&nbsp;</a></li>
		<li><a href class="short-bar">&nbsp;</a></li>
	</ul>
</div>

<div class="container">
	<ul class="menu tab" style="border-bottom:none;margin:0px;padding:0px;">
		<li style=""><a href="#/myinnovative-judge" class="tablinks" ng-click="openCity(event, 'London')" id="defaultOpen" style="font-family:open sans;font-size:14px;color:#cbcbcb;font-weight:600;">JUDGE</a></li>
		<li><a href="javascript:void(0)" class="tablinks" style="padding-bottom:0px;" ng-click="openCity(event, 'Paris')" style="font-family:open sans;font-size:14px;color:#cbcbcb;font-weight:600;">SPONSOR</a></li>
		<li><a href="javascript:void(0)" class="tablinks" ng-click="openCity(event, 'London')" style="font-family:open sans;font-size:14px;color:#cbcbcb;font-weight:600;">MENTOR</a></li>
		<li><a href="javascript:void(0)" class="tablinks" ng-click="openCity(event, 'Paris')" style="font-family:open sans;font-size:14px;color:#cbcbcb;font-weight:600;">CONTRIBUTOR</a></li>
		<li><a href="javascript:void(0)" class="tablinks" ng-click="openCity(event, 'Paris')" style="font-family:open sans;font-size:14px;color:#000000;font-weight:600;">INNOVATION CHALLANGE<br><img src="images/Down_Arrow.png"></a></li>
	</ul>
</div>

<div class="container" style="padding-bottom:0px;">
	<ul class="menu tab">
		<li><a href="javascript:void(0)" class="tablinks" ng-click="openCity(event, 'London')" id="defaultOpen" style="font-family:open sans;font-size:13px;color:#cbcbcb;font-weight:600;padding-top:10px;">Add New Challange</a></li>
		<li><a href="javascript:void(0)" class="tablinks" ng-click="openCity(event, 'Paris')" style="font-family:open sans;font-size:13px;color:#000000;font-weight:600;padding-top:10px;">Active Challenge</a></li>
		<li><a href="javascript:void(0)" class="tablinks" ng-click="openCity(event, 'London')" style="font-family:open sans;font-size:13px;color:#cbcbcb;font-weight:600;padding-top:10px;">Closed Challenge</a></li>
	</ul>
</div>

<div class="container">

<div class="row" style="background-color:#000000;color:#ffffff;margin:0px;margin-top:30px;height:40px;padding-top:10px;">
  <div class="col-sm-4">Challange Name</div>
  <div class="col-sm-1">Start Date</div>
  <div class="col-sm-1">End Date</div>
  <div class="col-sm-4">Description</div>
  <div class="col-sm-1">Copy</div>
  <div class="col-sm-1">Edit</div>
</div>
<div class="row" style="background-color:#fafafa;color:#000000;font-family:open sans;font-size:13px;margin:0px;height:40px;padding-top:10px;">
  <div class="col-sm-4">Mega Hackathon Challange 2016</div>
  <div class="col-sm-1">12 Dec 2016</div>
  <div class="col-sm-1">25 Dec 2016</div>
  <div class="col-sm-4">Hackathon 2016-Industry Diffrenciation Through Technology</div>
  <div class="col-sm-1"><img src="images/icon_Copy.png"></div>
  <div class="col-sm-1"><img src="images/icon_Edit.png"></div>
</div>
<div class="row" style="background-color:#f2f2f2;color:#000000;font-family:open sans;font-size:13px;margin:0px;height:40px;padding-top:10px;">
  <div class="col-sm-4">Mega Bluemix Challange 2016</div>
  <div class="col-sm-1">18 Dec 2016</div>
  <div class="col-sm-1">29 Dec 2016</div>
  <div class="col-sm-4">Bluemix 2016-Industry Diffrenciation Through Technology</div>
  <div class="col-sm-1"><img src="images/icon_Copy.png"></div>
  <div class="col-sm-1"><img src="images/icon_Edit.png"></div>
</div>
<div class="row" style="background-color:#fafafa;color:#000000;font-family:open sans;font-size:13px;margin:0px;height:40px;padding-top:10px;">
  <div class="col-sm-4">Mega Blockchain Challange 2016</div>
  <div class="col-sm-1">2 Jan 2016</div>
  <div class="col-sm-1">20 Jan 2016</div>
  <div class="col-sm-4">Blockchain 2016-Industry Diffrenciation Through Technology</div>
  <div class="col-sm-1"><img src="images/icon_Copy.png"></div>
  <div class="col-sm-1"><img src="images/icon_Edit.png"></div>
</div>

</div>
</div>