<div class="top-big-header-new">
	<div class="container">
		<div class="top-bar-new row">
			<div class="col-lg-4 col-md-4 col-sm-2 mob-fix">
				<a class="logo-links" href="#/innovative-landing"><img src="images/Accenture_logo.png"></a>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 txt-right">
				<ul class="idea-menus-new">
					<li><a href="#/myinnovative-addIdeas"><img src="images/icon_Add_Ideas.png">&nbsp;&nbsp;&nbsp;<b>Add Ideas</b></a></li>
					<li><a href="#/myinnovative-myIdeas"><img src="images/icon_manage.png">&nbsp;&nbsp;&nbsp;<b>Manage Ideas</b></a></li>
					<li><a href="javascript: void(0)"><img src="images/icon_Platform_Ecosystem.png">&nbsp;&nbsp;&nbsp;<b>Platform Ecosystem</b></a></li>
					<li>
						<span><a href="#/innovative-profile" style="text-decoration: none;">
						<img style="border-radius: 50%;" src="images/user.png" width="27" height="27" border="0">
						</a></span>
					</li>
				</ul>
			</div>
		</div>
		<div class="top-banner-bar-new row">
			<div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 txt-center">
				<p>
				One-stop-shop for innovation open to all <br> Accenture employees
				</p>
			</div>
		</div>
		<div class="row" style="margin-bottom: 35px;">
			<div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 txt-center">
				<a href class="med-size-fo" style="font-size: 14px;text-decoration: underline;" data-toggle="modal" data-target="#myModal">How does it works?</a>
			</div>
		</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 txt-center">
					<p style="font-size: 24px;">MY IDEAS</p>
			</div>
		</div>
		<div class="top-boxes-bar-new row">
			<div class="col-xs-12 col-lg-2 col-md-2 col-sm-3 txt-center">
				<div class="menu-bg fnt-msg">
					<p class="bg-btmtp">Judge</p>
					<img src="./images/icon_Judge.png">
					<p class="bg-btmfnt">2-contests waiting for judgement</p>
				</div>
				<div class="menu-bg bck-msg">
					<h4 class="heads">Form Explorer</h4>
					<p class="bg-btmtp1">By Karthik Shah</p>
					<p class="bg-btmtp">The Forms Explorer and Management Platform accelerates the forms management...</p>
				</div>
			</div>
			<div class="col-xs-12 col-lg-2 col-md-2 col-sm-3 txt-center">
				<div class="menu-bg fnt-msg">
					<p class="bg-btmtp">Sponsor</p>
					<img src="./images/icon_Sponsor.png">
					<p class="bg-btmfnt">View status of<br /> sponsered ideas</p>
				</div>
				<div class="menu-bg bck-msg">
					<h4 class="heads">Form Explorer</h4>
					<p class="bg-btmtp1">By Karthik Shah</p>
					<p class="bg-btmtp">The Forms Explorer and Management Platform accelerates the forms management...</p>
				</div>
			</div>
			<div class="col-xs-12 col-lg-2 col-md-2 col-sm-3 txt-center">
				<div class="menu-bg fnt-msg" href="#/myinnovative-mentor">
					<p class="bg-btmtp">Mentor</p>
					<img src="./images/icon_Mentor.png">
					<p class="bg-btmfnt">6-Ideas pending</br>for review</p>
				</div>
				<div class="menu-bg bck-msg">
					<a href="#/myinnovative-mentor" style="text-decoration: none; color: #666; cursor: pointer;">
					<h4 class="heads">Form Explorer</h4>
					<p class="bg-btmtp1">By Karthik Shah</p>
					<p class="bg-btmtp">The Forms Explorer and Management Platform accelerates the forms management...</p>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-lg-2 col-md-2 col-sm-3 txt-center" style="padding: 0">
				<div class="menu-bg" style="opacity: 0.6;">
					<p class="bg-btmtp" style="font-size: 13px;">You are yet to start your</br> journey in contributing</br> your ideas</p>
					<img src="./images/icon_Creatte_idea.png" style="width: 28px;">
					<a class="bg-btmfnt a-link" href="#/myinnovative-addIdeas" style="display:block;font-size: 13px;text-decoration: underline;color: #00a8ff;">Contribute your new ideas</a>
				</div>
				<div class="menu-bg bck-msg">
					<p class="bg-btmtp">Test Test Test Test Test Test Test</p>
				</div>
			</div>
			<div class="col-xs-12 col-lg-4 col-md-4 col-sm-3 txt-center">
				<div class="menu-bg" style="opacity: 0.6;">
					<p class="bg-btmtp">WIN 20 LAKHS FOR BEST IDEA</p>
					<p class="bg-btmfnt">Hackathon 2016 - Industry Differentiation</p>
					<p class="bg-btmfnt">Through Technology</p>
					<p class="bg-btmfnt a-link" style="color: #007fc1 !Important; font-size: 13px;">Idea Submission - Dec 11th to Dec 29th</p>
					<a href class="bg-btmfnt a-link a-link-h knw-more" data-toggle="tooltip" id="myTooltip2" style="display:block;text-decoration: underline;">Know More...</a>
				</div>
				<div class="menu-bg bck-msg">
					<p class="bg-btmtp">Test Test Test Test Test Test Test</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container" class="home-container-body">
	<ul class="menu tab">
		<li><a href="javascript:void(0)" class="tablinks" ng-click="openCity(event, 'London')" id="defaultOpen">POPULAR IDEAS</a><img data-toggle="tooltip" id="myTooltip" class="filter-icon" src="images/filter-icon.png"></li>
		<li><a href="javascript:void(0)" class="tablinks" ng-click="openCity(event, 'Paris')">FAVOURITE IDEAS</a></li>
		<li><a href="javascript:void(0)" class="tablinks" ng-click="openCity(event, 'London')">SUBSCRIBED IDEAS</a></li>
		<li><a href="javascript:void(0)" class="tablinks" ng-click="openCity(event, 'Paris')">LIKED IDEAS</a></li>
		<li style="width: 38%;margin-top: 6px;"><input type="text" class="search-box" style="margin-left: 4%;" placeholder="Search Idea">
		<img src="images/icon_Search.png" class="img-search"></li>
		<div style="float: right;" class="adv-search1"><a data-toggle="tooltip" id="myTooltip1" href class="adv-search">Advanced Search</a></div>
	</ul>
</div>

<div id="London" class="tabcontent" ng-init="openDefault()">
  <div ng-include="'views/mostpopular.html'" class="container" style="padding-left: 0px;"></div>
</div>

<div id="Paris" class="tabcontent">
  <div ng-include="'views/allideas.html'" class="container" style="padding-left: 0px;"></div>
</div>


<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog" style="background-color:#000000;opacity:70%;border-radius:10px;width:63%;height:400px;>
			<!-- Modal content-->
			<div class="modal-content">
			  <div class="modal-header" style="border:none;">
				<button type="button" class="close" data-dismiss="modal"><img style="width:100%;" src="images/icon_close_popup.png" border="0"></button>
				<h4 class="modal-title"></h4>
			  </div>
			  <div style="text-align:center"><span style="font-family:open sans;font-size:40px;color:#dadada;width:200px;">How does idea contribution works?</span></div>
			  <div class="modal-body">
				<img style="width:100%;padding:20px;" src="images/How_does_it_work_diagram.png" border="0">
			  </div>
			  <div class="modal-footer" style="text-align:center;border:none;">
				<a href="#/myinnovative-addIdeas"><img src="images/Btn_Add_idea.png" border="0"></a>
			  </div>
			</div>
		  </div>
		</div>
		
		
		
<div id="theformcontent">
	<div class='container' style='width: 700px'>
	<a href class="pop-close pop-cross">X</a>
	<div class='row form-sub'>
	<div class='col-xs-6 col-lg-6 col-md-6 col-sm-6'>
	<p><label>Title</label><input type='text'></p>
	<p><label>Contest</label><select class='in-sele'><option></option></select></p>
	<p><label>Challenge</label><select class='in-sele'><option></option></select></p>
	<p><label>Status</label><select class='in-sele'><option></option></select></p>
	<p><label>Innovator Ent id</label><input type='text'></p>
	<p><label>Keywords/Tags</label><input type='text'></p>
	</div><div class='col-xs-6 col-lg-6 col-md-6 col-sm-6'>
	<p class='date-icons'><span style="width: 48%;
    display: inline-block;">From Date</span>
	<span>To Date</span></p>
	<p class='date-icons pop-dates'><span style="width: 30%"><input type='text' placeholder='DD/MM/YYYY' class='dd'></span><span style="width: 18%"><a><img src="images/Calender.png"></a></span>
	<span style="width: 30%"><input type='text' placeholder='DD/MM/YYYY' class='dd'></span><span style="width: 18%"><a><img src="images/Calender.png"></a></span></p>
	<p>Applicable Entities</p>
			<div class="tree-box">
			<ul class="tree">
  <li>
    <input type="checkbox" checked="checked" id="c1" />
    <label class="tree_label" for="c1">Accenture Technology</label>
    <ul>
      <li>
        <input type="checkbox" id="c2" />
        <label for="c2" class="tree_label">AMD</label>
        <ul>
          <li><span class="tree_label">Level 2</span></li>
          <li><span class="tree_label">Level 2</span></li>
        </ul>
      </li>
      <li>
        <input type="checkbox" id="c3" />
        <label for="c3" class="tree_label">ASW</label>
        <ul>
          <li><span class="tree_label">Level 2</span></li>
          <li>
            <input type="checkbox" id="c4" />
            <label for="c4" class="tree_label">Item3</label>
            <ul>
              <li><span class="tree_label">Level 3</span></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <input type="checkbox" id="c5" />
        <label for="c5" class="tree_label">AVANADE</label>
        <ul>
          <li><span class="tree_label">Level 2</span></li>
          <li>
            <input type="checkbox" id="c6" />
            <label for="c6" class="tree_label">Item4</label>
            <ul>
              <li><span class="tree_label">Level 3</span></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
</div>
	<p class='date-icons'><span style="margin-right: 30%;"><a class="adv-search">Reset</a></span>
	<span><a class="dea-btn">Search</a></span></p>
	</div></div></div>
</div>
<style>
body{
	overflow-x: hidden;
}

#theformcontent {
position: absolute;
top: -450px;
}
</style>
