<div class="top-big-header-new sub-pages-head">
<div class="container">
<div class="top-bar-new row">
	<div class="col-lg-4 col-md-4 col-sm-2 mob-fix">
		<a class="logo-links" href="#/innovative-landing"><img src="images/Accenture_logo.png"></a>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-8 txt-right">
		<ul class="idea-menus-new">
			<li><a href="#/myinnovative-addIdeas"><img src="images/icon_Add_Ideas.png">&nbsp;&nbsp;&nbsp;<b>Add Ideas</b></a></li>
			<li><a href="#/myinnovative-judge"><img src="images/icon_Myideas.png">&nbsp;&nbsp;&nbsp;<b>My Ideas</b></a></li>
			<li><a href="#/myinnovative-myIdeas"><img src="images/icon_manage.png">&nbsp;&nbsp;&nbsp;<b>Manage</b></a></li>
			<li><a href="javascript: void(0)"><img src="images/icon_Explore_ideas.png">&nbsp;&nbsp;&nbsp;<b>Explore Ideas</b></a></li>
			<li><a href="javascript: void(0)"><img src="images/icon_Platform_Ecosystem.png">&nbsp;&nbsp;&nbsp;<b>Platform Ecosystem</b></a></li>
			<li>
				<span><a href="#/innovative-profile" style="text-decoration: none;">
				<img style="border-radius: 50%;" src="images/user.png" width="27" height="27" border="0">
				</a></span>
			</li>
		</ul>
	</div>
</div>
</div>
</div>
<div class="container sub-containers my-ideas create-ideas">
<p class="hd1">My Ideas</p>
   <ul class="menus">
      <li><a href="#/myinnovative-innovcontest" class="tablinks active">JUDGE</a>
         <div class="arrow-right"></div>
      <li>
         <a href="javascript:void(0)" class="tablinks">SPONSER</a>
      </li>
      <li>
         <a href="#/myinnovative-mentor" class="tablinks">MENTOR</a>
      </li>
      <li>
         <a href="javascript:void(0)" class="tablinks">CONTRIBUTOR</a>
      </li>
   </ul>
   <ul class="menu tab">
      <li><a href="javascript:void(0)" class="tablinks active" id="defaultOpen">Bluemix 2016 Challenge</a></li>
      <li><a href="javascript:void(0)" class="tablinks">Hackathon 2016 Challenge</a></li>
      <li style="float: right;width: 30%;margin-top: 6px;">
         <span><a class="act-btn">Save as Draft</a></span>
         <span><a class="dea-btn">Publish Challenge</a></span>
      </li>
   </ul>

<div>


<div class="rows-bar progress-bars">
	<div>
	<span class="ide-det" style="padding:0px;">Note: Top4 ideas short listed for final judgement</span><br>
		<br />	
	<div class="row">
	<div class="col-xs-12 col-lg-3 col-md-3 col-sm-6">
		<div class="bot-boxes md-hgt">
		<div class="title-img">
			<img src="images/idea1.png">
		</div>
		<div class="bot-content">
		<p class="title-popular">
		<a href="#/innovative-details-forms-explorer">Forms Explorer</a>
		<span class="by-polpular" style="display: block;">bikram.bhusan.sinha</span>
		</p>
		<p class="ide-det" style="clear: both;">The Forms Explorer and Management Platform accelerates the forms management process by simplifying the extraction and managing insurers forms. Form Extractor extracts the insurers policy data from the different source systems.</p>
		<div class="popularGraphData popularGraphData1">
		<span class="currency"><img src="images/icon_Acc_money.png"></span><p class="amt-popular"><span>9,000</span></p>
			<div><span class="by-polpular">80%</span><span class="by-polpular" style="float:right"><a href="">View more details</a></span></div>
		</div>

		<div><span class="by-polpular" style="float:left;font-weight:bold;padding-left:8px"><span class="astri"><span class="astri">*</span></span>Rate Criteria</span></div><br>
		<div><span class="by-polpular" style="float:left;margin-left:8px">Good presentation</span></div><br>
		<div class="row rolls" style="padding: 8px 0 0 8px;margin-left: -10px;padding:10px;">
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6" style="padding-right: 0;">
				<span class="greyCircle">1</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">2</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">3</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">4</span>
			</span>
			<span class="col-xs-2 col-lg-3 col-md-3 col-sm-6">
				<span class="blueCircle">5</span>
			</span>
		</div>
		<div><span class="by-polpular" style="float:left;margin-left:8px">Good presentation</span></div><br>
		<div class="row rolls" style="padding: 8px 0 0 8px;margin-left: -10px;padding:10px;">
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6" style="padding-right: 0;">
				<span class="greyCircle">1</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">2</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">3</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="blueCircle">4</span>
			</span>
			<span class="col-xs-2 col-lg-3 col-md-3 col-sm-6">
				<span class="greyCircle">5</span>
			</span>
		</div>
		
		<div><span class="by-polpular" style="float:left;margin-left:8px">Good presentation</span></div><br>
		<div class="row rolls" style="padding: 8px 0 0 8px;margin-left: -10px;padding:10px;">
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6" style="padding-right:0;">
				<span class="greyCircle">1</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">2</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">3</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">4</span>
			</span>
			<span class="col-xs-2 col-lg-3 col-md-3 col-sm-6">
				<span class="blueCircle">5</span>
			</span>
		</div>		
		<p class="by-polpular" style="margin-left:8px;"><span>My Comments</span><br> <input type="textarea" class="text-comments"></p>		

		</div>
	</div>
	</div>
	<div class="col-xs-12 col-lg-3 col-md-3 col-sm-6">
		<div class="bot-boxes md-hgt">
		<div class="title-img">
			<img src="images/idea2.png">
		</div>
		<div class="bot-content">
		<p class="title-popular"><a href="#/innovative-details-forms-explorer">Synergia</a>
		<span class="by-polpular" style="display: block;">bikram.bhusan.sinha</span>
		</p>
		<p class="ide-det" style="clear: both;">Provides an innovative solution for drug related adverse events, aims to reduce clinical trial spending, speed-up clinical trial process, reduce drug failure probability and facilitate faster and well-informed decisions.</p>
		<div class="popularGraphData popularGraphData1">
		<span class="currency"><img src="images/icon_Acc_money.png"></span><p class="amt-popular"><span>9,000</span></p>
			<div><span class="by-polpular">80%</span><span class="by-polpular" style="float:right"><a href="#">View more details</a></span></div>
		</div>

		<div><span class="by-polpular" style="float:left;font-weight:bold;padding-left:8px"><span class="astri"><span class="astri">*</span></span>Rate Criteria</span></div><br>
		<div><span class="by-polpular" style="float:left;margin-left:8px">Good presentation</span></div><br>
		<div class="row rolls" style="padding: 8px 0 0 8px;margin-left: -10px;padding:10px;">
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6" style="padding-right: 0;">
				<span class="greyCircle">1</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">2</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">3</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">4</span>
			</span>
			<span class="col-xs-2 col-lg-3 col-md-3 col-sm-6">
				<span class="blueCircle">5</span>
			</span>
		</div>
		<div><span class="by-polpular" style="float:left;margin-left:8px">Good presentation</span></div><br>
		<div class="row rolls" style="padding: 8px 0 0 8px;margin-left: -10px;padding:10px;">
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6" style="padding-right: 0;">
				<span class="greyCircle">1</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">2</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">3</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="blueCircle">4</span>
			</span>
			<span class="col-xs-2 col-lg-3 col-md-3 col-sm-6">
				<span class="greyCircle">5</span>
			</span>
		</div>
		
		<div><span class="by-polpular" style="float:left;margin-left:8px">Good presentation</span></div><br>
		<div class="row rolls" style="padding: 8px 0 0 8px;margin-left: -10px;padding:10px;">
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6" style="padding-right:0;">
				<span class="greyCircle">1</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">2</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">3</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">4</span>
			</span>
			<span class="col-xs-2 col-lg-3 col-md-3 col-sm-6">
				<span class="blueCircle">5</span>
			</span>
		</div>		
		<p class="by-polpular" style="margin-left:8px;"><span>My Comments</span><br> <input type="textarea" class="text-comments"></p>		

		</div>
	</div>
	</div>
	<div class="col-xs-12 col-lg-3 col-md-3 col-sm-6 mClr">
		<div class="bot-boxes md-hgt2">
		<div class="title-img">
			<img src="images/idea3.png">
		</div>
		<div class="bot-content">
		<p class="title-popular"><a href="#/innovative-details-forms-explorer">My Innovation</a>
		<span class="by-polpular" style="display: block;">bikram.bhusan.sinha</span>
		</p>
		<p class="ide-det" style="clear: both;">myInnovation.accenture.com is the one-stop shop for innovation, open to Accenture employees globally. It will be built with the People First - Processes Last approach. As a community, all employees will be able to contribute and interact with Ideators and experts, will be part of the transparent democratic funding/evaluation process.</p>
		<div class="popularGraphData popularGraphData1">
		<span class="currency"><img src="images/icon_Acc_money.png"></span><p class="amt-popular"><span>9,000</span></p>
			<div><span class="by-polpular">80%</span><span class="by-polpular" style="float:right"><a href="#">View more details</a></span></div>
		</div>

		<div><span class="by-polpular" style="float:left;font-weight:bold;padding-left:8px"><span class="astri"><span class="astri">*</span></span>Rate Criteria</span></div><br>
		<div><span class="by-polpular" style="float:left;margin-left:8px">Good presentation</span></div><br>
		<div class="row rolls" style="padding: 8px 0 0 8px;margin-left: -10px;padding:10px;">
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6" style="padding-right: 0;">
				<span class="greyCircle">1</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">2</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">3</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">4</span>
			</span>
			<span class="col-xs-2 col-lg-3 col-md-3 col-sm-6">
				<span class="blueCircle">5</span>
			</span>
		</div>
		<div><span class="by-polpular" style="float:left;margin-left:8px">Good presentation</span></div><br>
		<div class="row rolls" style="padding: 8px 0 0 8px;margin-left: -10px;padding:10px;">
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6" style="padding-right: 0;">
				<span class="greyCircle">1</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">2</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">3</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="blueCircle">4</span>
			</span>
			<span class="col-xs-2 col-lg-3 col-md-3 col-sm-6">
				<span class="greyCircle">5</span>
			</span>
		</div>
		
		<div><span class="by-polpular" style="float:left;margin-left:8px">Good presentation</span></div><br>
		<div class="row rolls" style="padding: 8px 0 0 8px;margin-left: -10px;padding:10px;">
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6" style="padding-right:0;">
				<span class="greyCircle">1</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">2</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">3</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">4</span>
			</span>
			<span class="col-xs-2 col-lg-3 col-md-3 col-sm-6">
				<span class="blueCircle">5</span>
			</span>
		</div>		
		<p class="by-polpular" style="margin-left:8px;"><span>My Comments</span><br> <input type="textarea" class="text-comments"></p>		
		</div>
		
	</div>
	</div>
	<div class="col-xs-12 col-lg-3 col-md-3 col-sm-6">
		<div class="bot-boxes md-hgt2">
		<div class="title-img">
			<img src="images/idea4.png">
		</div>
		<div class="bot-content">
		<p class="title-popular"><a href="#/innovative-details-forms-explorer">Trade Decision Engine</a>
		<span class="by-polpular" style="display: block;">bikram.bhusan.sinha</span>
		</p>
		<p class="ide-det" style="clear: both;">Dashboard that accepts ticker, quantity, buy/sell, provides summary information from sources like news feeds, social media and internal applications from bank for compliance checks, client portfolio and pricing algorithm.</p>
		<div class="popularGraphData popularGraphData1">
		<span class="currency"><img src="images/icon_Acc_money.png"></span><p class="amt-popular"><span>9,000</span></p>			
			<div><span class="by-polpular">80%</span><span class="by-polpular" style="float:right;color:#24c9ff"><a href="#">View more detals</a></span></div>
		</div>		
		<div><span class="by-polpular" style="float:left;font-weight:bold;padding-left:8px"><span class="astri"><span class="astri">*</span></span>Rate Criteria</span></div><br>
		<div><span class="by-polpular" style="float:left;margin-left:8px">Good presentation</span></div><br>
		<div class="row rolls" style="padding: 8px 0 0 8px;margin-left: -10px;padding:10px;">
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6" style="padding-right: 0;">
				<span class="greyCircle">1</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">2</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">3</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">4</span>
			</span>
			<span class="col-xs-2 col-lg-3 col-md-3 col-sm-6">
				<span class="blueCircle">5</span>
			</span>
		</div>
		<div><span class="by-polpular" style="float:left;margin-left:8px">Good presentation</span></div><br>
		<div class="row rolls" style="padding: 8px 0 0 8px;margin-left: -10px;padding:10px;">
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6" style="padding-right: 0;">
				<span class="greyCircle">1</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">2</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">3</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="blueCircle">4</span>
			</span>
			<span class="col-xs-2 col-lg-3 col-md-3 col-sm-6">
				<span class="greyCircle">5</span>
			</span>
		</div>
		
		<div><span class="by-polpular" style="float:left;margin-left:8px">Good presentation</span></div><br>
		<div class="row rolls" style="padding: 8px 0 0 8px;margin-left: -10px;padding:10px;">
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6" style="padding-right:0;">
				<span class="greyCircle">1</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">2</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">3</span>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<span class="greyCircle">4</span>
			</span>
			<span class="col-xs-2 col-lg-3 col-md-3 col-sm-6">
				<span class="blueCircle">5</span>
			</span>
		</div>		
		<p class="by-polpular" style="margin-left:8px;"><span>My Comments</span><br> <input type="textarea" class="text-comments"></p>		
		</div>
	</div>
	</div>
	</div>
	
</div>


</div>
</div>

<style>
	.currency, .amt-popular {
		display: none;
	}
</style>