<div class="top-big-header-new sub-pages-head">
<div class="container">
<div class="top-bar-new row">
	<div class="col-lg-4 col-md-4 col-sm-2 mob-fix">
		<a class="logo-links" href="#/innovative-landing"><img src="images/Accenture_logo.png"></a>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-8 txt-right">
		<ul class="idea-menus-new">
			<li><a href="#/myinnovative-addIdeas"><img src="images/icon_Add_Ideas.png">&nbsp;&nbsp;&nbsp;<b>Add Ideas</b></a></li>
			<li><a href="#/myinnovative-judge"><img src="images/icon_Myideas.png">&nbsp;&nbsp;&nbsp;<b>My Ideas</b></a></li>
			<li><a href="#/myinnovative-myIdeas"><img src="images/icon_manage.png">&nbsp;&nbsp;&nbsp;<b>Manage</b></a></li>
			<li><a href="javascript: void(0)"><img src="images/icon_Explore_ideas.png">&nbsp;&nbsp;&nbsp;<b>Explore Ideas</b></a></li>
			<li><a href="javascript: void(0)"><img src="images/icon_Platform_Ecosystem.png">&nbsp;&nbsp;&nbsp;<b>Platform Ecosystem</b></a></li>
			<li>
				<span><a href="#/innovative-profile" style="text-decoration: none;">
				<img style="border-radius: 50%;" src="images/user.png" width="27" height="27" border="0">
				</a></span>
			</li>
		</ul>
	</div>
</div>
</div>
</div>
<div class="container sub-containers my-ideas create-ideas">
   <p class="hd1">Manage</p>
   <ul class="menus">
      <!-- li><a href="#/myinnovative-judge" class="tablinks" id="defaultOpen">JUDGE</a></li>
      <li><a href="javascript:void(0)" class="tablinks">SPONSOR</a></li>
      <li><a href="javascript:void(0)" class="tablinks">MENTOR</a></li>
      <li><a href="javascript:void(0)" class="tablinks">CONTRIBUTOR</a></li-->
      <li><a href="#/myinnovative-innovcontest" class="tablinks">INNOVATION CONTEST</a>
      <li>
         <a href="javascript:void(0)" class="tablinks active">INNOVATION CHALLENGE</a>
         <div class="arrow-right"></div>
      </li>
   </ul>
   <ul class="menu tab">
      <li><a href="#/myinnovative-myIdeas" class="tablinks" id="defaultOpen">Add New Challenge</a></li>
      <li><a href="#/myinnovative-activechallenge" class="tablinks active">Active Challenge (2)</a></li>
      <li><a href="javascript:void(0)" class="tablinks">Closed Challenge (9)</a></li>
      <li style="float: right;width: 30%;margin-top: 6px;">
         <span><a class="act-btn">Save as Draft</a></span>
         <span><a class="dea-btn">Publish Challenge</a></span>
      </li>
   </ul>

<div class="container" style="padding: 40px 0 60px;">

<div class="row" style="background-color:#000000;color:#ffffff;margin:0px;margin-top:30px;height:40px;padding-top:10px;">
  <div class="col-sm-3">Challange Name</div>
  <div class="col-sm-2">Start Date</div>
  <div class="col-sm-2">End Date</div>
  <div class="col-sm-3">Description</div>
  <div class="col-sm-1">Copy</div>
  <div class="col-sm-1">Edit</div>
</div>
<div class="row" style="background-color:#fafafa;color:#000000;font-family:open sans;font-size:13px;margin:0px;height:40px;padding-top:10px;">
  <div class="col-sm-3">Mega Hackathon Challange 2016</div>
  <div class="col-sm-2">12 Dec 2016</div>
  <div class="col-sm-2">25 Dec 2016</div>
  <div class="col-sm-3">Hackathon 2016-Industry Diffrenciation Through Technology</div>
  <div class="col-sm-1"><img src="images/icon_Copy.png"></div>
  <div class="col-sm-1"><img src="images/icon_Edit.png"></div>
</div>
<div class="row" style="background-color:#f2f2f2;color:#000000;font-family:open sans;font-size:13px;margin:0px;height:40px;padding-top:10px;">
  <div class="col-sm-3">Mega Bluemix Challange 2016</div>
  <div class="col-sm-2">18 Dec 2016</div>
  <div class="col-sm-2">29 Dec 2016</div>
  <div class="col-sm-3">Bluemix 2016-Industry Diffrenciation Through Technology</div>
  <div class="col-sm-1"><img src="images/icon_Copy.png"></div>
  <div class="col-sm-1"><img src="images/icon_Edit.png"></div>
</div>
<div class="row" style="background-color:#fafafa;color:#000000;font-family:open sans;font-size:13px;margin:0px;height:40px;padding-top:10px;">
  <div class="col-sm-3">Mega Blockchain Challange 2016</div>
  <div class="col-sm-2">2 Jan 2016</div>
  <div class="col-sm-2">20 Jan 2016</div>
  <div class="col-sm-3">Blockchain 2016-Industry Diffrenciation Through Technology</div>
  <div class="col-sm-1"><img src="images/icon_Copy.png"></div>
  <div class="col-sm-1"><img src="images/icon_Edit.png"></div>
</div>

</div>
</div>