<div class="top-big-header-new sub-pages-head">
<div class="container">
<div class="top-bar-new row">
	<div class="col-lg-4 col-md-4 col-sm-2 mob-fix">
		<a class="logo-links" href="#/innovative-landing"><img src="images/Accenture_logo.png"></a>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-8 txt-right">
		<ul class="idea-menus-new">
			<li><a href="#/myinnovative-addIdeas"><img src="images/icon_Add_Ideas.png">&nbsp;&nbsp;&nbsp;<b>Add Ideas</b></a></li>
			<li><a href="#/myinnovative-myIdeas"><img src="images/icon_Myideas.png">&nbsp;&nbsp;&nbsp;<b>My Ideas</b></a></li>
			<li><a href="javascript: void(0)"><img src="images/icon_manage.png">&nbsp;&nbsp;&nbsp;<b>Manage</b></a></li>
			<li><a href="javascript: void(0)"><img src="images/icon_Explore_ideas.png">&nbsp;&nbsp;&nbsp;<b>Explore Ideas</b></a></li>
			<li><a href="javascript: void(0)"><img src="images/icon_Platform_Ecosystem.png">&nbsp;&nbsp;&nbsp;<b>Platform Ecosystem</b></a></li>
			<li>
				<span><a href="javascript: void(0);" style="text-decoration: none;">
				<img style="border-radius: 50%;" src="images/user.png" width="27" height="27" border="0">
				</a></span>
			</li>
		</ul>
	</div>
</div>
</div>
</div>
<div class="container sub-containers my-ideas create-ideas">
<p class="hd1">My Ideas</p>
<ul class="menus">
	<li><a href="#/myinnovative-judge" class="tablinks" id="defaultOpen">JUDGE</a></li>
	<li><a href="javascript:void(0)" class="tablinks"">SPONSOR</a></li>
	<li><a href="javascript:void(0)" class="tablinks active">MENTOR</a>
	<div class="arrow-right"></div></li>
	<li><a href="javascript:void(0)" class="tablinks">CONTRIBUTOR</a></li>
	</li>
</ul>
<ul class="menu tab">
	<li><a href="javascript:void(0)" class="tablinks active" id="defaultOpen">Add Ideas&nbsp;(7)</a></li>
	<li style="float: right;width: 50%;margin-top: 6px;">
         <span><a class="act-btn">Save as Draft</a></span>
<span style="margin-left: 3%;"><select style="width: 30% !important">
	<option></option>
</select></span>
<span><a class="dea-btn">Publish Contest</a></span>
      </li>
</ul>
<div>
	<div class="row" style="border-bottom: solid 2px #a8a8a8; padding-top: 30px; padding-bottom: 30px;">
		<div class="col-lg-8 col-md-8 col-sm-8">
			<div class="owner-det new-det">
			<span class="prof-infos">
				<a href="#/innovative-profile" style="text-decoration: none;">
					<img src="images/Details_user_icon.png" width="45" height="45" border="0">
				</a>
			</span>
			<span class="side-infos">
				<p><a href="#/innovative-profile"><b>Karthik Shan</b></a></p>
				<p class="dates da">Senior Arch Manager</p>
			</span>
			<span style="float:right; margin-right: 2%">
				<p style="color: #b00101;font-size: 12px;">Complete Review By</p>
				<p class="dates da">2001/2017</p>
			</span>
		</div>
			<h3>Forms Explorer</h3>
			<p class="by-polpular">
				<span class="by-polpular">Bluemix 2016</span>
				<span class="by-polpular">Bluemix 2016</span>
			</p>
			<p class="above-txt">Current Situtation</p>
			<p>Insurance industry works with multiple forms for correspondence, regulatory purposes, etc. Most of these forms are in legacy systems or word files. The forms are not easily searchable to provide the business the view related to possible forms for a particular product or claim or work activity. Currently there is no system that enables management and search of these forms. Request from Accenture Insurance CoE to help with this activity in preparation for a couple of opportunities and client visits to ASIC.</p>
			<p class="above-txt">Solution</p>
			<p>The Forms Explorer and Management Platform, accelerates the forms management process by simplifying and making it easier to extract and manage insurers forms. Form Extractor extracts the insurers policy related data data from the different source systems, converts into standard XMLs and persist all the form metadata in DB, which is used by Form explorer for the display in UI. Due to limited access to legacy systems in the time-frame at hand, the data from various source systems was consolidated and made available to team to process further.</p>
			<p class="above-txt">Benefit</p>
			<p>Team leveraged SME's from Insurance CoE to validate functional user stories, and followed an agile approach in architecting and designing an MVP that is being showcased to multiple clients.Technology used: Bluemix, Liberty Profile runtime, SQL DB, SSO service.</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<div class="title-popular">
				<div class="row rolls" style="padding: 8px 0 0 8px;">
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<img src="images/Details_views-icon.png">
				<p>11</p>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<img src="images/Details_Likes-icon.png">
				<p>11</p>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<img src="images/Details_Followers_icon.png">
				<p>11</p>
			</span>
			<span class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
				<img src="images/icon_Download.png">
				<p>11</p>
			</span>
			<span class="col-xs-2 col-lg-3 col-md-3 col-sm-6">
				<img src="images/Details_Share-icon.png">
				<p>11</p>
			</span>
			</div>
			<p class="above-txt">Addiional Contributors</p>
				<p><t class="under-txt">
                  <img src="images/Details-Followers1.png" class="cls-btns"> Mentor Id <img src="images/icon_form_close.png" class="cls-btns">
               </t></p>
              <p><t class="under-txt">
                  <img src="images/Details-Followers1.png" class="cls-btns"> Mentor Id <img src="images/icon_form_close.png" class="cls-btns">
               </t></p>
            <p><a style="color: #337ab7; font-size: 12px;float: right;">View all contributors</a></p>
			<p class="above-txt">Media Files</p>
			<p class="by-polpular">Click on the below to review documents</p>
			<p class="brder-line">Accenture Form Migration Conversion Platform.docx (994kb) <a href="" style="opacity: 1" class="close"><img src="images/icon_DOC.png"></a></p>
			<p class="brder-line">Accenture Form Migration Conversion Platform.pptx (994kb) <a href="" style="opacity: 1" class="close"><img src="images/icon_PPT.png"></a></p>
			<p class="above-txt">Cover Image</p>
			<p class="by-polpular">Click on the image for the bigger view</p>
			<img src="asd">
		</div>
	</div>
</div>
<h3>Edit/Update fields</h3>
<p class="by-polpular">After review please update below fields and submit</p>
<div class="row">
	<div class="col-lg-7 col-md-7 col-sm-7">
		<p>Add your overall comments</p>
		<textarea></textarea>
	</div>
	
	<div class="col-lg-5 col-md-5 col-sm-5">
		<p>Efforts in PDs to implement the idea</p>
		<p style="border-bottom: solid 2px #a8a8a8; padding-bottom: 5px;"><span>12</span><span style="float: right;"><a>Add/Edit Dates</a></span></p>
		<p>Skills</p>
		<div style="width: 85%; float: left;">
				<span class="selected-s">Technology Architecture&nbsp;<img src="images/icon_form_close.png" class="cls-btns"></span>
				<span class="selected-s">Hybris&nbsp;<img src="images/icon_form_close.png" class="cls-btns"></span>
		</div>
		<div><a>Add Skills</a></div>
	</div>
</div>
<div class="btm-btns" style="width: 50%;margin-top: 40px;">
<span><a class="act-btn">Save as Draft</a></span>
<span><select style="width: 30% !important">
	<option></option>
</select></span>
<span><a class="dea-btn">Publish Contest</a></span>
</div>
</div>
