<div class="top-big-header-new sub-pages-head">
<div class="container">
<div class="top-bar-new row">
	<div class="col-lg-4 col-md-4 col-sm-2 mob-fix">
		<a class="logo-links" href="#/innovative-landing"><img src="images/Accenture_logo.png"></a>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-8 txt-right">
		<ul class="idea-menus-new">
			<li><a href="#/myinnovative-addIdeas"><img src="images/icon_Add_Ideas.png">&nbsp;&nbsp;&nbsp;<b>Add Ideas</b></a></li>
			<li><a href="#/myinnovative-judge"><img src="images/icon_Myideas.png">&nbsp;&nbsp;&nbsp;<b>My Ideas</b></a></li>
			<li><a href="#/myinnovative-myIdeas"><img src="images/icon_manage.png">&nbsp;&nbsp;&nbsp;<b>Manage</b></a></li>
			<li><a href="javascript: void(0)"><img src="images/icon_Explore_ideas.png">&nbsp;&nbsp;&nbsp;<b>Explore Ideas</b></a></li>
			<li><a href="javascript: void(0)"><img src="images/icon_Platform_Ecosystem.png">&nbsp;&nbsp;&nbsp;<b>Platform Ecosystem</b></a></li>
			<li>
				<span><a href="javascript: void(0)" style="text-decoration: none;">
				<img style="border-radius: 50%;" src="images/user.png" width="27" height="27" border="0">
				</a></span>
			</li>
		</ul>
	</div>
</div>
</div>
</div>
<div class="container sub-containers create-ideas">
<div class="row top-added">
	<div class="col-lg-6 col-md-6"><p class="hd1">Add Ideas</p></div>
	<div class="col-lg-6 col-md-6"><a href class="ah-link" style="outline: none;" data-toggle="modal" data-target="#myModal">How does it work?</a>
	<span><a class="act-btn">Save as Draft</a></span>
	<span><a class="dea-btn">Submit</a></span></div>
</div>
<div class="row middle-added">
	<div class="col-md-6 col-sm-6">
		<div>
		<p class="above-txt"><span><span class="astri">*</span>Idea Title </span> <input type="text" class="labelFix" placeholder=""></p>
		<p class="below-txt"><span>&nbsp;</span> <t class="under-txt">50 characters remaining(50 maximum)</t></p>
		</div>
		<div>
		<p class="above-txt"><span><span class="astri">*</span>Innovation Contest</span>
		<select>
			<option></option>
		</select>
		</p>
		<p class="below-txt"><span>&nbsp;</span> <t class="under-txt links">Contest Details</t></p>
		</div>
		<div>
		<p class="above-txt"><span><span class="astri">*</span>Innovation Challenges</span> 
		<select>
			<option>Hackathon 2016</option>
		</select>
		</p>
		<p class="below-txt"><span>&nbsp;</span> <t class="under-txt links">Challenge Details</t></p>
		</div>
		<p class="above-txt"><span class="astri">*</span>Cover Image</p>
		<div class="drop-border">
			<img src="images/createidea_coverimage.png">
			<p class="drag-drops">Drag &amp; Drop image here to upload</p>
			<a href="" class="select-files" id="selectFiles" ng-click="openpops()">Or Select Files to Upload</a>
		</div>
		<input type="file" id="filetype" style="visibility: hidden;">
		
		<p class="above-txt"><span class="astri">*</span>Current Situation</p>
		<div>
			<textarea></textarea>
			<p class="below-txt"><span>&nbsp;</span> <t class="under-txt">2000 characters remaining(2000 maximum)</t></p>
		</div>
		<p class="above-txt"><span class="astri">*</span>Solution</p>
		<div>
			<textarea></textarea>
			<p class="below-txt"><span>&nbsp;</span> <t class="under-txt">2000 characters remaining(2000 maximum)</t></p>
		</div>
		<p class="above-txt"><span class="astri">*</span>Benefit</p>
		<div>
			<textarea></textarea>
			<p class="below-txt"><span>&nbsp;</span> <t class="under-txt">2000 characters remaining(2000 maximum)</t></p>
		</div>
		<div>
		<p class="above-txt"><span><span class="astri">*</span>Potential Saving ($) </span> <input type="text" class="labelFix" placeholder=""></p>
		</div>
		<p class="above-txt">Media Files</p>
		<p class="brder-line">Accenture Form Migration Conversion Platform.pptx (994kb) <a href="" class="close"><img src="images/close.png"></a></p>
		<p class="brder-line">Forms Explorer- Arch decisions.docx (123kb) <a href="" class="close"><img src="images/close.png"></a></p>
		
		<div style="margin-bottom: 70px;" class="mtops"><span class="bar-span1">Accenture Forms Explorer Technical Architecture.docx</span>
			<span class="bar-span2">&nbsp;70%</span>
		</div>

		<div class="row" style="margin-bottom: 20px;width: 100%;">
			<div class="col-lg-4 col-sm-4 col-xs-4">
				<a href="" class="browse-file">Browse Files</a>
			</div>
			<div class="col-lg-4 col-sm-4 col-xs-4">
				<a href="" class="browse-file">Start Upload</a>
			</div>
			<div class="col-lg-4 col-sm-4 col-xs-4">
				<a href="" class="browse-file cancel-file">Cancel Upload</a>
			</div>
		</div>
		<p class="sharp-short">(Restrictions: File Size: 10MB, File Formats: zip,xls,xlsx,doc,docx,ppt,pptx,eml,msg)</p>
	</div>
	<div class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1 rght-side">
		<div>
		<p class="above-txt"><span>Efforts</span> <input type="text" class="labelFix" placeholder="PDs to implement the idea"></p>
		<p class="below-txt"><span>&nbsp;</span> <t class="under-txt">&nbsp;</t></p>
		</div>
		<div>
		<p class="above-txt"><span>Skills</span> <input type="text" class="labelFix" placeholder="Add Skills Separated by"></p>
		<p class="below-txt" style="text-align: left; margin-top: 5px;"><span style="width: 32%;">&nbsp;</span> <t class="under-txt"><span class="selected-s">Hybris&nbsp;<img src="images/icon_form_close.png" class="cls-btns"/></span><span class="selected-s">Information Architect&nbsp;<img src="images/icon_form_close.png" class="cls-btns"/></span></t></p>
		</div>
		<div>
		<p class="above-txt"><span>Co-Innovators</span> <input type="text" class="labelFix" placeholder="Add Co-innovator (enterprise id)""></p>
		<p class="below-txt" style="text-align: left;margin-bottom: 5px;"><span style="width: 32%;">&nbsp;</span>
		<t class="under-txt">
		
		<img src="images/Details-Followers1.png" class="cls-btns"/> Co-Innovator <img src="images/icon_form_close.png" class="cls-btns"/>
		
		</t></p>
		<p class="below-txt" style="text-align: left;margin-bottom: 5px;"><span style="width: 32%;">&nbsp;</span>
		<t class="under-txt"  style="">
		<img src="images/Details-Followers2.png" class="cls-btns"/> Co-Innovator <img src="images/icon_form_close.png" class="cls-btns"/>
		</t>
		</p>
		<br />
		<div>
		<p class="above-txt"><span>Team </span> <input type="text" class="labelFix" placeholder="Team Name"></p>
		<p class="below-txt" style="visibility: hidden"><span style="width: 32%;">&nbsp;</span> <t class="under-txt">20 characters remaining(20 maximum)</t></p>
		</div>
		<p class="above-txt"><span style>Additional<br>Contributors</span> <input type="text" class="labelFix" placeholder="Add Team Member (enterprise id)"></p>
		<p class="below-txt" style="text-align: left;margin-bottom: 5px;"><span style="width: 32%;">&nbsp;</span>
		<t class="under-txt">
		<img src="images/Details-Followers2.png" class="cls-btns"/> Team Member <img src="images/icon_form_close.png" class="cls-btns"/>
		</t>
		</p>
		<p class="below-txt" style="text-align: left;margin-bottom: 5px;"><span style="width: 32%;">&nbsp;</span>
		<t class="under-txt" style="clear: both;">
		<img src="images/Details-Followers1.png" class="cls-btns"/> Team Member <img src="images/icon_form_close.png" class="cls-btns"/>
		</t>
		</p>
		<br />
		</div>
		<div>
		<p class="above-txt"><span>Tags</span> <input type="text" class="labelFix" placeholder="Add Tags"></p>
		<p class="below-txt" style="text-align: left; margin-top: 5px;"><span style="width: 32%;">&nbsp;</span> <t class="under-txt"> <span class="selected-s">Hybris&nbsp;<img src="images/icon_form_close.png" class="cls-btns"/></span><span class="selected-s">Technology Architect&nbsp;<img src="images/icon_form_close.png" class="cls-btns"/></span></t></p>
		</div>
	</div>
</div>
<div class="btm-btns"><span><a class="act-btn">Save as Draft</a></span><span><a class="dea-btn">Submit</a></span></div>
</div>

<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog" style="background-color:#000000;opacity:70%;border-radius:10px;width:63%;height:400px;>
			<!-- Modal content-->
			<div class="modal-content">
			  <div class="modal-header" style="border:none;">
				<button type="button" class="close" data-dismiss="modal"><img style="width:100%;" src="images/icon_close_popup.png" border="0"></button>
				<h4 class="modal-title"></h4>
			  </div>
			  <div style="text-align:center"><span style="font-family:open sans;font-size:40px;color:#dadada;width:200px;">How does idea contribution works?</span></div>
			  <div class="modal-body">
				<img style="width:100%;padding:20px;" src="images/How_does_it_work_diagram.png" border="0">
			  </div>
			  <div class="modal-footer" style="text-align:center;border:none;">
				<img src="images/Btn_Add_idea.png" border="0">
			  </div>
			</div>
		  </div>
		</div>